<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="grpcServer" type="Sodao.Core.Grpc.GrpcServerSection, Sodao.Core.Grpc"/>
  </configSections>

  <grpcServer>
    <!-- hostEnv > host:port > internetHost:port -->
    <!-- intercept == true start Intercept -->
    <service name="" hostEnv="serviceaddress" host="" port="">
      <registry>
        <consul path="dllconfigs/Consul.config"></consul>
      </registry>
    </service>
  </grpcServer>
</configuration>